.random-top {
    text-align: center;
    padding: 1rem;
}

.random-button {
    font-size: 2rem;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
}

.random-button:focus {
    outline: none;
}

.random-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    margin: 1rem;
    background-color: #eee;
    text-align: center;
}

.random-left {
    height: 30rem;
}

.random-image {
    height: 100%;
    padding: 1rem 3rem;
}

.random-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.random-right h3 {
    font-size: 2rem;
}

.random-right h4 {
    font-size: 1.5rem;
}

.random-right p {
    font-size: 1rem;
}

.random-title {
    margin-bottom: 2.5rem;
}

.random-info {
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

@media only screen and (max-width: 500px) {
    .random-button {
        font-size: 1rem;
    }

    .random-showcase {
        margin: 0;
    }

    .random-left {
        height: 20rem;
    }

    .random-image {
        padding: 1rem;
    }

    .random-title {
        margin-bottom: 1.5rem;
    }

    .random-info {
        margin: 1.5rem 0;
    }
}